<div class='comment'>
  <p class="comment-body">
    <%= comment.message %>
    <p>
      <small>
        <strong>
          <a href="/<%= comment.user.username %>"><%= comment.user.username %></a>
        </strong>
        replied</small>
    </br>
    <small><%= comment.created_at.to_s(:long_ordinal) %></small>
  </p>
  <% if comment.user_id == current_user.id %>
    <%= form_for([post, comment], :html => { :method => :delete }) do |f| %>
    <%= f.submit "Delete Comment" %>
  <% end %>
<% end %>

<% if comment.created_at > Time.now - 600 && comment.user_id == current_user.id%>
  <%= link_to edit_post_comment_path(post, comment) do %>
  Edit comment
<% end %>
<% end %>
<%= render partial: 'likes/form', locals: { likeable: comment } %>
</p>
</div>